Antigravity/*
Code/*
Code\ -\ OSS/*

.luarc.json
BraveSoftware/
Cursor/
GIMP/
JetBrains/
KDE/
Kitware/
Pinta/
Proton/
QtProject.conf
QtProject/
Ripes/
SmartBrowser/
Thunar/
Trolltech.conf
baloofileinformationrc
baloofilerc
bashrc
blender/
btop/
cava/
com.ml4w.hyprlandsettings/
create-next-app-nodejs/
cursor/
dconf/
discord/
dlv/
dolphinrc
draw.io/
dunst
easyeffects/
evolution/
fastfetch
filetypesrc
fish/
fuzzel/
github-copilot/
go/
google-chrome/
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
htop/
hypr/colors.conf
hypr/conf/
hypr/effects/
hypr/hyprland.conf
hypr/scripts/cliphist.sh
hypr/shaders/
kaccessrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kcminputrc
kconf_updaterc
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
khelpcenterrc
kiorc
konsolerc
konsolesshconfig
kservicemenurc
ksmserverrc
ktimezonedrc
ktrashrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
libreoffice/
matugen
menus/
mgba/
mimeapps.list
ml4w
mpd/
neofetch/
nextjs-nodejs/
nwg-dock-hyprland
nwg-look/
obs-studio/
obsidian/
ohmyposh
okularpartrc
okularrc
pacseek/
pavucontrol.ini
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
pulse/
qt6ct
quickshell/
rofi/
session/
spotify/
systemd/
termshark/
trashrc
user-dirs.dirs
user-dirs.locale
uwsm/
vim
vlc/
wal
wallust
waypaper
wireshark/
xdg-desktop-portal-kderc
xfce4/
xsettingsd
yazi/
